<p id="notice"><%= notice %></p>

<h1>Listing Pets</h1>

<% @owners.each do |owner| %>
  <% if owner.pets != nil %>
    <% if (@post_type == "lost") %>
      <% owner.pets.each do |pet| %>
        <h3><%= "#{owner.name}'s post for #{pet.name}" %></h3>
        <table>
          <tbody>
            <tr>
              <td><%= image_tag root_url + "/images/" + pet.filename, size: "500x500", alt: pet.filename %></td>
            </tr>
            <tr>
              <td><%= pet.description %></td>
            </tr>
            <tr>
              <td><%= link_to 'Show', pet %></td>
              <% if owner.user_id == current_user #if the owner of image is current user %>
                <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
                <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
i             <% end %>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% elsif (@post_type == "found") %>
      <% owner.pets.each do |pet| %>
        <h3><%= "#{owner.name}'s post for #{pet.name}" %></h3>
        <table>
          <tbody>
            <tr>
              <td><%= image_tag root_url + "/images/" + pet.filename, size: "500x500", alt: pet.filename %></td>
            </tr>
            <tr>
              <td><%= pet.description %></td>
            </tr>
            <tr>
              <td><%= link_to 'Show', pet %></td>
              <% if owner.user_id == current_user #if the owner of image is current user %>
                <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
                <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
i             <% end %>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<br>

<%= link_to 'New Pet', new_owner_pet_path %>

