<h1>New pet for <%= @owner.name %> </h1>

<%= render 'form' %>
<br>
<br>
<%= form_tag(posts_path, method: :get) do %>
  <%= submit_tag("Back to lost pets") %>
<%= hidden_field_tag(:post_type, "lost") %>
<% end %>
