<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Posted By:</strong>
  <%= link_to "#{@pet.owner.name}", owner_path %>
</p>

<p>
  <%= image_tag root_url + "/images/" + @pet.filename, alt: @pet.filename %>
</p>


<%= link_to 'Edit Post', edit_pet_path(@pet) %>
<br>
<br>
<%= form_tag(posts_path, method: :get) do %>
  <%= submit_tag("Back to lost pets") %>
<%= hidden_field_tag(:post_type, "lost") %>
<% end %>
