<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Posted By:</strong>
  <%= link_to "#{@pet.owner.name}", owner_path %>
</p>

<p>
  <%= image_tag root_url + "/images/" + @pet.filename, alt: @pet.filename %>
</p>
<%= link_to 'Home', owners_path %>
<% if @pet.owner.user == current_user %>
  | <%= link_to 'Edit', edit_pet_path(@pet) %> |
  <%= link_to 'Delete', @pet, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
<br>
<br>
<% end %>
<%= form_tag(posts_path, method: :get) do %>
  <%= submit_tag("Back to lost pets") %>
<%= hidden_field_tag(:post_type, "lost") %>
<% end %>
