<p id="notice"><%= notice %></p>

<h1>Listing Owners</h1>

<table>
  <thead>
    <tr>
      <th>Lost Pets</th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <% owner.pets.each do |pet| %>
        <% if pet.lost %>
          <tr>
            <td><%= link_to "#{pet.name}", owner_pets_path(pet.id) %></td>
          </tr>
          <tr>
            <td><%= image_tag root_url + "/images/" + pet.filename, size: "100x100", alt: pet.filename %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if current_user != nil %>
  <%= link_to "Make A Found Pet Post", new_owner_pet_path(:id) %>
<% end %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Found Pets</th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <% owner.pets.each do |pet| %>
        <% if pet.found %>
          <tr>
            <td><%= link_to "#{pet.name}", owner_pets_path(pet.owner) %></td>               </tr>
          <tr>
            <td><%= image_tag root_url + "/images/" + pet.filename, size: "100x100", alt: pet.filename %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if current_user != nil %>
 <%= link_to "Make A Found Pet Post", new_owner_pet_path(:id) %>
<% end %>

