<p id="notice"><%= notice %></p>

<h1>Listing Owners</h1>

<table>
  <thead>
    <tr>
      <th>Lost Pets</th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <% owner.pets.each do |pet| %>
        <% if pet.lost %>
          <tr>
            <%= form_tag(owner_pets_path(:id), method: "GET") do %>
              <td><%= submit_tag("Lost Pets") %><td/>
              <%= hidden_field_tag("lost", @post_type) %>
            <% end %>
          </tr>
          <tr>
            <td><%= image_tag root_url + "/images/" + pet.filename, size: "100x100", alt: pet.filename %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if current_user != nil %>
  <%= link_to "Make A Found Pet Post", new_owner_pet_path(:pet_found) %>
<% end %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Found Pets</th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <% owner.pets.each do |pet| %>
        <% if pet.found %>
          <tr>
            <%= form_tag(owner_pets_path, method: "GET") do %>
              <td><%= submit_tag("Found Pets") %><td/>
              <%= hidden_field_tag("found", @post_type) %>
            <% end %>
          <tr>
            <td><%= image_tag root_url + "/images/" + pet.filename, size: "100x100", alt: pet.filename %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if current_user != nil %>
 <%= link_to "Make A Found Pet Post", new_owner_pet_path(:id) %>
<% end %>

