<p id="notice"><%= notice %></p>

<% if @post_type == "lost" %>
  <h1>Lost Pet Posts</h1>
<% end %>
<% if current_user != nil %>
  <%= link_to 'Create A New Post', new_owner_pet_path(:id) %>
<% end %>

<% @owners.each do |owner| %>
  <% if owner.pets != nil %>
    <% if (@post_type == "lost") %>
      <% lost_pets = owner.pets.map {|pet| pet if pet.post.post_type == "lost"}.compact %>
      <% lost_pets.each do |pet| %>
        <h3><%= "#{owner.name}'s post for #{pet.name}" %></h3>
        <table>
          <tbody>
            <tr>
              <td><%= image_tag root_url + "/images/" + pet.filename, size: "250x250", alt: pet.filename %></td>
            </tr>
            <tr>
              <td><%= pet.description %></td>
            </tr>
            <tr>
              <td><%= link_to 'Show', pet %></td>
              <% if owner.user_id == current_user #if the owner of image is current user %>
                <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
                <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
i             <% end %>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
  <% else %>
    <h3>Oops! There are no posts yet, come back later when people have lost pets!</h3>
  <% end %>
<% end %>

<% if @post_type == "found" %>
  <h1>Found Pet Posts</h1>
<% end %>

<% @owners.each do |owner| %>
  <% if owner.pets != nil %>
    <% if (@post_type == "found") %>
      <% found_pets = owner.pets.map {|pet| pet if pet.post.post_type == "found"}.compact %>
      <% found_pets.each do |pet| %>
        <h3><%= "#{owner.name}'s post for #{pet.name}" %></h3>
        <table>
          <tbody>
            <tr>
              <td><%= image_tag root_url + "/images/" + pet.filename, size: "250x250", alt: pet.filename %></td>
            </tr>
            <tr>
              <td><%= pet.description %></td>
            </tr>
            <tr>
              <td><%= link_to 'Show', pet %></td>
              <% if owner.user_id == current_user #if the owner of image is current user %>
                <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
                <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
i             <% end %>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
  <% else %>
    <h3>Oops! There are no posts yet, come back later when people have lost pets!</h3>
  <% end %>
<% end %>

