<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @owner_user.owner %>
</p>

<p>
  <strong>User:</strong>
  <%= @owner_user.user %>
</p>

<%= link_to 'Edit', edit_owner_user_path(@owner_user) %> |
<%= link_to 'Back', owner_users_path %>
